body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#app {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

/* Responsive design adjustments for mobile devices */
@media (max-width: 600px) {
  #colorPicker, #colorPicker2, #frequencySlider .noUi-target {
    width: 80vw; /* Adjust width to ensure visibility on smaller screens */
    margin: 20px auto; /* Increase margin for better touch interaction */
  }

  #toggleStrobe {
    padding: 12px 24px; /* Increase padding for easier tapping */
    font-size: 18px; /* Increase font size for better readability */
    background-color: #FFF; /* Ensure high contrast for visibility */
    color: #000; /* Ensure text is visible against light background */
    border: 2px solid #000; /* Add border to make the button stand out */
    display: block; /* Ensure the button is not accidentally hidden */
    margin: 0 auto; /* Center the button horizontally */
    width: 60%; /* Make the button wider to catch attention */
    max-width: 300px; /* Limit maximum width for very wide screens */
  }
}

/* Enhancements for touch targets and spacing */
#colorPicker, #colorPicker2 {
  height: 44px; /* Increase height for easier interaction */
  cursor: pointer; /* Indicate these are interactive elements */
}

#frequencySlider .noUi-target {
  height: 44px; /* Increase height for easier interaction */
  margin-top: 20px; /* Add more space above the slider for easier access */
}